<template>
  <hamburger-logo
    class="hamburger"
    @click="toggleSideDrawer"
  />
</template>

<script>
import HamburgerLogo from '../../static/img/hamburger.svg'

export default {
  name: 'Hamburger',
  components: { HamburgerLogo },
  inject: ['sideDrawerStatus'],
  methods: {
    toggleSideDrawer () {
      this.sideDrawerStatus.show()
    }
  }
}
</script>

<style lang="scss" scoped>
.hamburger {
  cursor: pointer
}
</style>
