<template>
  <div class="header">
    <hamburger />
    <side-drawer />
  </div>
</template>

<script>
import Hamburger from './Hamburger.vue'
import SideDrawer from './SideDrawer.vue'
import ViewStatus from '../helpers/ViewStatus'

export default {
  name: 'NavHeader',
  components: {
    Hamburger,
    SideDrawer
  },
  data: function () {
    return {
      sideDrawerStatus: ViewStatus()
    }
  },
  provide () {
    return { sideDrawerStatus: this.sideDrawerStatus }
  }
}
</script>

<style lang="scss" scoped>
  .header {
    height: 60px;
    width: 100%;
    display: flex;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
    top: 0;
    align-items: center;
    padding: 0 25px;
  }
</style>
