<template>
  <li class="comment">
    <div class="comment__user">
      <span class="comment__user-img">user</span>
      <h6>
        {{ comment.user.username }}
        <span> - {{ timestamp }}</span>
      </h6>
    </div>
    <p>{{ comment.body }}</p>
  </li>
</template>

<script>
import moment from 'moment'

function getElapsedTimeString (duration) {
  if (duration <= 1) {
    return 'Just now'
  } else if (duration < 60) {
    return `${duration}m ago`
  } else if (duration < 60 * 24) {
    return `${Math.round(duration / 60)}h ago`
  } else {
    return `${Math.round(duration / (60 * 24))} days ago`
  }
}

export default {
  name: 'PostComment',
  props: {
    comment: {
      default: () => {},
      type: Object
    }
  },
  data: function () {
    const diff = moment().diff(this.comment.date)
    const duration = Math.floor(moment.duration(diff).asMinutes())
    return { timestamp: getElapsedTimeString(duration) }
  },
  mounted () {
    this.startTime()
  },
  methods: {
    elapsedTime: async function () {
      const now = moment()
      const timeDiff = now.diff(this.comment.date)
      const duration = Math.floor(moment.duration(timeDiff).asMinutes())
      this.timestamp = getElapsedTimeString(duration)
    },
    startTime: function () {
      setInterval(this.elapsedTime, 5000)
    }
  }
}
</script>

<style lang="scss" scoped>
  .comment {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 15px;
  }

  .comment__user {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .comment__user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .comment__name {
    margin: 0;
  }
</style>
