<template>
  <div>
    <span
      class="post__back"
      @click="$emit('reset-posts')"
    >
      <router-link :to="{ name: 'home' }">
        {{ backButtonText }}
      </router-link>
    </span>
    <div class="post">
      <h1 class="post__title">
        {{ post.title }}
      </h1>
      <h5 v-if="post.author">
        by: {{ post.author.username }}
      </h5>
      <div class="post_content">
        <div class="post__img">
          image placeholder
        </div>
        <p class="post__body">
          {{ post.body }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Post',
  props: {
    post: {
      default: () => {},
      type: Object
    },
    backButtonText: {
      default: '< all posts',
      type: String
    }
  }
}
</script>

<style lang="scss" scoped>
  .post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: 15px;
  }

  .post__back {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .post__content {
    display: flex;
    flex-direction: row;
  }

  .post__img {
    background-color: rgba(5, 194, 252, 0.664);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    float: left;
    margin: 0 20px 15px 0;
    font-style: italic
  }

  .post__title {
    margin-bottom: 0;
  }
</style>
