<template>
  <loading v-if="isLoading" />
  <error v-else-if="isError" />
  <div
    v-else
    class="post-container"
  >
    <post :post="currentPost" />
    <ul class="post-container__comments">
      <h3>Comments:</h3>
      <div class="post-container__new-comment-container">
        <textarea
          class="post-container__new-comment"
          :value="commentDraft"
          placeholder="Add a comment"
          @input="handleCommentChange"
          @keyup.enter="handleSubmit"
        />
        <div
          v-if="commentDraft.length > 0"
          class="post-container__button-container"
        >
          <button
            class="post-container__button --primary"
            @click="handleSubmit"
          >
            Share
          </button>
          <button
            class="post-container__button"
            @click="cancelComment"
          >
            Cancel
          </button>
        </div>
      </div>
      <post-comment
        v-for="comment in comments"
        :key="comment.id"
        :comment="comment"
      />
    </ul>
  </div>
</template>

<script>
import Loading from './Loading.vue'
import Error from './Error.vue'
import Post from './Post.vue'
import PostComment from './PostComment.vue'
import { mapState } from 'vuex'

export default {
  name: 'PostContainer',
  components: {
    Loading,
    Error,
    Post,
    PostComment
  },
  computed: mapState([
    'currentPost',
    'comments',
    'isLoading',
    'isError',
    'commentDraft'
  ]),
  mounted () {
    const id = this.$route.params.id
    this.$store.dispatch('selectPost', id)
  },
  methods: {
    handleSubmit () {
      this.$store.dispatch('submitComment')
    },
    handleCommentChange (e) {
      this.$store.commit('handleCommentChange', e.target.value)
    },
    cancelComment () {
      this.$store.commit('resetCommentDraft')
    }
  }
}
</script>

<style lang="scss" scoped>
  .post-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .post-container__new-comment-container {
    display: flex;
    flex-wrap: wrap;
  }

  .post-container__new-comment {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }

  .post-container__button-container {
    display: flex;
    width: 150px;
    justify-content: space-between;
  }

  .post-container__button {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: none;
    border-radius: 3px;

    &.--primary {
      color: white;
      background-color: rgb(27, 158, 108);
    }
  }

  .post-container__comments {
    list-style-type: none;
  }
</style>
