<template>
  <loading v-if="isLoading" />
  <error v-else-if="isError" />
  <ul
    v-else
    class="preview-list"
  >
    <preview
      v-for="post in posts"
      :key="post.id"
      :post="post"
      @select-post="goToPost"
    />
  </ul>
</template>

<script>
import Preview from './Preview.vue'
import Loading from './Loading.vue'
import Error from './Error.vue'
import { mapState } from 'vuex'

export default {
  name: 'PreviewListContainer',
  components: { Preview, Loading, Error },
  computed: mapState(['posts', 'isLoading', 'isError']),
  mounted () {
    this.$store.dispatch('getAllPosts')
  },
  methods: {
    goToPost (id) {
      this.$router.push({ name: 'post', params: { id } })
    }
  }
}
</script>

<style lang="scss" scoped>
  .preview-list {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
</style>
