<template>
  <li
    class="preview"
    @click="$emit('select-post', post.id)"
  >
    <div class="preview__img">
      image placeholder
    </div>
    <div class="preview__content">
      <h3>{{ post.title }}</h3>
      <p>{{ post.truncatedBody }}</p>
    </div>
  </li>
</template>

<script>
export default {
  name: 'Preview',
  props: {
    post: {
      default: () => {},
      type: Object
    }
  }
}
</script>

<style lang="scss" scoped>
.preview {
  max-width: 600px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
}

.preview__img {
  background-color: rgba(5, 194, 252, 0.664);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-style: italic;
}

.preview__content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: calc(100% - 200px);
}
</style>
