<template>
  <div
    v-if="sideDrawerStatus.isShowing"
    class="side-drawer"
  >
    <div
      class="side-drawer__overlay"
      @click="toggleSideDrawer"
    >
      <div
        class="side-drawer__menu-container"
        @click="handleMenuClick"
      >
        <div class="side-drawer__menu-header">
          <span
            class="side-drawer__menu-close"
            @click="toggleSideDrawer"
          >
            X
          </span>
        </div>
        <ul>
          <li>one</li>
          <li>two</li>
          <li>three</li>
          <li>four</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SideDrawer',
  inject: ['sideDrawerStatus'],
  methods: {
    toggleSideDrawer () {
      this.sideDrawerStatus.hide()
    },
    handleMenuClick (e) {
      e.stopPropagation()
    }
  }
}
</script>

<style lang="scss" scoped>
  .side-drawer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .side-drawer__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
  }

  .side-drawer__menu-container {
    background-color: white;
    height: 100%;
    width: 400px;
  }

  .side-drawer__menu-header {
    background-color: rgb(27, 158, 108);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding: 10px;
  }

  .side-drawer__menu-close {
    cursor: pointer;
  }
</style>
