<template>
  <div>
    <nav-header />
    <router-view class="view" />
  </div>
</template>

<script>
import NavHeader from './components/NavHeader.vue'

export default {
  name: 'App',
  components: { NavHeader }
}
</script>
